body {
    background: #EFE7E5; }

.products-form {
    text-align: left;
    padding-top: 20px;
    text-align: left; }
.products-form table {
    margin-top: 10px;
    width: 260px;
    height: 180px;
    border: 1px;
    margin-left: 35px;
    float: left;
    border-style: solid; }
.products-form .delete_id {
    margin-left: 130px; }

.insert-form {
    text-align: left;
    padding-top: 20px;
    text-align: left; }
.insert-form ul {
    margin-left: 50px;
    list-style-type: none; }
.insert-form input {
    margin-left: 50px; }
.insert-form p {
    font-size: 8pt;
    margin-left: 105px;
    margin-top: 2px; }

html h1 {
    margin-left: 40pt;
    margin-bottom: 5pt; }
html h2 {
    text-decoration: underline;
    font-size: 30pt;
    text-align: center;
    padding-bottom: 10pt; }
html h3 {
    font-size: 20pt;
    text-align: center;
    margin-bottom: 30pt; }

nav a {
    text-decoration: none;
    font-family: Cambria, serif;
    font-size: 20px;
    color: #596368;
    margin-left: 30pt; }
nav a:hover {
    font-weight: bold;
    font-family: Cambria, serif;
    font-size: 20px;
    color: black; }

#link {
    text-decoration: none;
    font-family: Cambria, serif;
    font-size: 25px;
    color: black;
    margin-left: 23%; }

#link:hover {
    font-weight: bold;
    font-family: Cambria, serif;
    font-size: 25px;
    color: black; }

.hidden{
    display: none;
    position: relative;
    left: 68pt;
}
span{
    color:red;
    font-size: 10pt;
    position: relative;
    left:90px;
}
/*# sourceMappingURL=default.css.map */
